doctype html
html
    head
        title Todo
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    
    body
        include navbar
        form.form-todo(style='width:30%; margin:10% 35%')
            h2.h3.mb-3.font-weight-normal.text-center Add Todo
            .form-group
                label(for='inputName1') Name
                input#inputName1.form-control(type='text', placeholder='Enter name', required, autofocus)
            .form-group
                label(for='inputDescription1') Description
                input#inputDescription1.form-control(type='text', placeholder='Enter description', required)
            button.btn.btn-primary.btn-block(type='submit') Add
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js')
    script(src='/js/todo.js')