doctype html
html
    head
        title Todo
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    
    body
        include navbar
        form.update-todo(style='width:30%; margin:10% 35%')
            h2.h3.mb-3.font-weight-normal.text-center Edit Todo
            input#inputId.form-control(type='text', value=todo._id, hidden)
            .form-group
                label(for='inputName') Name
                input#inputName.form-control(type='text', value=todo.name required, autofocus)
            .form-group
                label(for='inputDescription') Description
                input#inputDescription.form-control(type='text', value=`${todo.description}`, required)
            button.btn.btn-primary.btn-block(type='submit') Update
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js')
    script(src='/js/todo.js')