doctype html
html
    head
        title Todo | Signup
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    
    body(style='margin:10%')
        center
            form.form-signup(style='width:30%;')
                h2.h3.mb-3.font-weight-normal.text-center Sign up
                .form-group
                    label(for='inputName' style='float:left;') Name
                    input#inputName.form-control(type='text', placeholder='Enter name', required, autofocus)
                .form-group
                    label(for='inputEmail' style='float:left;') Email address
                    input#inputEmail.form-control(type='email', placeholder='Enter email address', required)
                .form-group
                    label(for='inputPassword' style='float:left;') Password
                    input#inputPassword.form-control(type='password', placeholder='Enter password', required)
                .form-group
                    label(for='inputPassword' style='float:left;') Confirm password
                    input#inputPasswordConfirm.form-control(type='password', placeholder='Enter password confirm', required)
                button.btn.btn-primary.btn-block(type='submit') Sign up
                a(href='/', style='float:right; margin-top:15px') Already have a account?
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js')
    script(src='/js/signup.js')